clones/
*.swp
*.swo
app/nacionalrock/platforms/
app/nacionalrock/node_modules/
app/nacionalrock/platforms/
app/nacionalrock/plugins/
app/nacionalrock/.npmignore
app/nacionalrock/config.xml
app/nacionalrock/hooks/
app/nacionalrock/icon.png
app/nacionalrock/package-lock.json
app/nacionalrock/package.json
app/nacionalrock/res/
bin/
ant-build/
ant-gen/
gen/
out/
